.results {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
button {
  height: 20px;
  width: 80px;
  margin: 0 auto;
}
